* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.App {
  text-align: center;
  background-color: lightblue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.todo {
  background-color: blue;
  width: 800px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
}

.header {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
}

.date {
  color: blue;
  font-size: 17px;
  font-weight: bold;
}

h1 p {
  margin-inline-start: 0;
  margin-inline-end: 0;
}
.description {
  font-size: 20px;
  padding-top: 0;
}
.todo-list {
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.input1 {
  width: 70%;
  font-size: 16px;
  padding: 5px;
  border-radius: 10px;
  border: none;
  outline: none;
}
.input2 {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  width: 70%;
  margin: auto;
  padding-top: 10px;
}

.period {
  padding: 5px 15px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}

button {
  font-size: 16px;
  padding: 5px 15px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: lightgray;
}
ul {
  list-style-type: none;
  padding: 10px;
  margin-top: 20px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 10px;
  text-align: left;
}
h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
li {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.trash {
  cursor: pointer;
  color: red;
}
.edit {
  cursor: pointer;
  color: green;
  margin-right: 10px;
}
.checkbox {
  margin-right: 10px;
  cursor: pointer;
}

.task.completed {
  color: red;
  text-decoration: line-through;
}

